*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow: hidden;
}

body{
    background: rgb(247,240,213);
    height: 100vh;
}
.nav-links{
    display: flex;
    position: relative;
    top: 15px;
    justify-content: space-around;
    list-style: none;
    
}
.nav-links li a{
    text-decoration: none;
    color: rgb(243, 112, 133);
    font-family: Nothing You Could Do;
    font-size: 28px;
    font-weight: bolder;
    transition: all ease-in-out 250ms;

}
.nav-links li a:hover{
    color: black;
}
#bana{
    position: relative;
    font-family: Nothing You Could Do;
    font-size: 5em;
    left: 350px;
    top: 90px;
    letter-spacing: 10px;
    user-select: none;
    background: linear-gradient(to right, #fd7982, #4b2428);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#music-color{
    color: black;
    transition: all ease-in-out 250ms;
    text-decoration: underline;
}
#music-color:hover{
    color: #fd7982;
}
.flower-left{
    position: absolute;
    display: flex;
    align-content: flex-start;
    width: 600px;
    left: -150px;
    top: 50px;
    
}
.flower-right{
    display: flex;
    position: absolute;
    width: 500px;
    right: -100px;
    padding-left: 100px;
    
}
.youtube{
    position: absolute;
    left: 300px;
    top: 120px;
    
}

.p1{
    position: relative;
    letter-spacing: 5px;
    font-family: Nothing You Could Do;
    font-size: 1.5em;
    text-align: center;
    color: black;
    bottom: 800px;
    left: 10px;
    user-select: none;

}

.copyright{
    position: absolute;
    left: 720px;
    bottom: 0px;
    font-family: Nothing You Could Do;
    font-weight: bold;
    font-size: 12px;
}

.footer-socials{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top: 695px;
    padding-left: 30%;
    width: 69%;
    font-size: 20px;
}

.footer-socials li{
    list-style: none;
}
.footer-socials li a{
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.fa-spotify{
    color: rgb(30, 215, 96);
}

.fa-youtube{
    color: red;
}

.fa-instagram{
    color: black;
}

.fa-twitter{
    color: rgb(29, 161, 242);
}

.fa-facebook{
    color: rgb(66, 103, 178);

}

.fa:hover{
    opacity: 0.7;
}
@media screen and (max-width: 1024px){
    body{
        height: 100vh;
    }
    .copyright{
        display: block;
        position: absolute;
        left: 205px;
        top: 720px;
        font-size: 14px;
    
    }
    .footer-socials{
        position: absolute;
        top: 680px;
        padding-left: 30px;
        justify-content: space-around;
        width: 100%;
    
    }
    .footer-socials li a{
            font-size: 28px;
    }
    #bana{
        position: absolute;
        font-size: 3.5em;
        text-align: center;
        left: 25px;
        letter-spacing: 0px;

    }
    .flower-right{
        display: none;
    }
    .flower-left{
        position: absolute;
        width: 400px;
        top: 300px;
        left: -170px;
    }


}
